.property-container {
  display: flex;
  flex-direction: column;
  padding: 100px 160px;
}

.property-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.property-heading {
  font-size: 24px;
  color: #5e6d77;
}

.property-images {
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding-top: 20px;
}

.main-image {
  flex: 3;
  display: flex;
}

.main-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.small-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.small-images img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  border-radius: 15px;
}

.property-details {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #5e6d77;
}

.property-rooms {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.property-rooms span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.property-rooms span .icon {
  transform: scale(1.5);
  color: #5ea51d;
}

.property-amenities {
  padding: 40px 0;
}

.property-amenities h1 {
  font-size: 24px;
  padding-bottom: 40px;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.amenity {
  display: flex;
  gap: 20px;
  width: 23%;
  line-height: 26px;
  color: #5e6d77;
}
.amenity .icon {
  color: #5ea51d;
  transform: scale(1.5);
}

@media (max-width: 1200px) {
  .property-container {
    padding: 100px 60px;
  }
}

@media (max-width: 976px) {
  .property-container {
    padding: 100px 40px 20px;
  }
  .property-details h1 {
    font-size: 24px;
  }
  .property-rooms {
    width: 60%;
  }
  .amenity {
    gap: 10px;
    width: 40%;
  }
}

@media (max-width: 600px) {
  .property-container {
    padding: 100px 20px 20px;
  }
  .property-details {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }
  .property-details h1 {
    font-size: 32px;
  }

  .property-rooms {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .property-rooms span {
    flex-direction: row;
    gap: 20px;
  }

  .property-rooms span p {
    font-size: 20px;
  }
  .property-amenities {
    padding: 20px 0;
  }
  .property-amenities h1 {
    padding-bottom: 20px;
  }
  .amenities {
    gap: 15px;
  }
  .amenity {
    gap: 10px;
    width: 48%;
  }
  .amenity .icon {
    transform: scale(1);
  }
}
